body{
   background: rgb(241,90,238);
   background: linear-gradient(90deg, rgba(241,90,238,1) 31%, 
   rgba(141,38,223,1) 100%, rgba(219,60,221,1) 100%);
   font-family: 'Outfit', sans-serif;
}
.cabeçalho{
    display: flex;
     justify-content: space-between;
}
.logo img{
    width: 70px;
    height:auto;
    margin-left: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{ 
    color: rgb(56, 3, 75);
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-left: 10px;
}
.contact{
    margin-top: 22px;
    margin-right: 100px;
    font-family: 'Outfit', sans-serif;
   
}
.contact ul{
    list-style-type: none;  
    padding: 0;
    margin:0;
    
}
.contact li{
    margin-right: 22px;
    display: inline-block;
}
.contact li:first-child{
    margin-right: 20px;
}   
.contact li:last-child{
    margin-left: auto;
}
.contact a{
    text-decoration: none;
    color: rgb(56, 3, 75);
}
a:hover{
    color:rgb(190, 15, 190);
}
.ebook {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.ebook img {
    width: 300px;
    height: auto;
    margin: auto;
}

.ebook-text {
    display: flex;
    flex-direction: column; 
}

.ebook-text h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 5px; 
    margin-left: 70px;
}
.ebook p {
    color: aliceblue;
    margin-bottom: 10px;
    margin-left: 70px;
}
.email, .send{
    margin: 7px;
    margin-left: 70px;
}

#email-id{
   width: 20%;
   padding: 15px;
   border: none;
   border-radius: 16px;
   font-size: 14px;
}
button{
    background-color: blueviolet;
    color: aliceblue;
    padding: 10px 20px;
    border:none;
    border-radius: 16px;
    margin: 10px;
    margin-left: 108px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
}
button:hover{
    background-color: rgb(190, 15, 190);
}
h3{
    color: rgb(160, 9, 97);
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 30px;
    text-align: center;
    margin:27px;
    height: 20px;
}
.p-text{
    color: rgb(116, 12, 61);
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 19px;
    text-align: center;
    margin:50px;   
}
.back a{
    text-decoration: none;
    color: rgb(56, 3, 75);
    margin-left: 50%;
}
a:hover{
    color:rgb(190, 15, 190);
}

