*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    background: rgba(216, 100, 245, 0.589);
}
.cabeçalho{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top:2rem;
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 119px;
    height: auto;
}
.logo h1{
    color:rgb(122, 47, 145);
    font-size:26px;
    font-weight:600;
    margin-right:22rem;
}
ul{
    display:flex;
    list-style:none;
    gap: 6rem;
}
ul li a{
    text-decoration: none;
    color:rgb(122, 47, 145);
    cursor: pointer;
}
ul li a:hover{
   color: rgb(209, 73, 202);
}


